".source.yaml":
  "Create a ReplicaSet":
    "prefix": "ReplicaSet"
    "body" :"""
      apiVersion: apps/v1
      kind: ReplicaSet
      metadata:
        name: ${1:<myapp>}
      spec:
        # modify replicas according to your case
        replicas: ${2:<Replica-number>}
        selector:
          matchLabels:
            app: ${3:<Label>}
        template:
          metadata:
            labels:
              app: ${3:<Label1>}
          spec:
            containers:
            - name: ${1:<myapp>}
              image: ${4:<image_source>}
"""
