".source.yaml":
  "Create a Secret":
    "prefix": "Secret"
    "body" : """
apiVersion: v1
kind: Secret
metadata:
  name: ${1:<myapp>}
type: Opaque
data:
  ${2:<key>}: ${3:<value>}
  selector:
    matchLabels:
      app: ${1:<myapp>}
  template:
    metadata:
      labels:
        app: ${1:<myapp>}
    spec:
      containers:
      - name: ${1:<myapp>}
        image: ${2:<Image>}
        ports:
        - containerPort: ${3:<Port>}
"""