".source.yaml":
  "Create a Service":
    "prefix": 'Service'
    "body" : """
apiVersion: v1
kind: Service
metadata:
  name: ${1:<myapp>}
spec:
  selector:
    app: ${1:<myapp>}
  ports:
  - port: ${2:<Port>}
    targetPort: ${3:<Target Port>}
    """
